mixin button(props)
    - const { label, variant, size = 'md', disabled = false, icon, type, dataType } = props;
    - const styleVaraint = variant ? ' ui-button--' + variant : '';
    - const sizeVaraint = ' ui-button--' + size;

    button(
        class='ui-button' + styleVaraint + sizeVaraint,
        disabled=disabled,
        data-button-type=dataType,
        type=type
    )
        .ui-button__container
            .ui-button__label #{label}
            if (icon)
                .ui-button__icon
                    block
