mixin button(props)
    - const { label, icon, type, dataType, variant, size = "md", disabled = false } = props;
    - const styleVaraint = variant ? " ui-button--" + variant : "";
    - const sizeVaraint = " ui-button--" + size;

    button(
        class="ui-button" + styleVaraint + sizeVaraint,
        disabled=disabled,
        data-button-type=dataType,
        type=type
    )
        .ui-button__container
            if label
                .ui-button__label #{label}
            if icon && label
                .ui-button__icon
                    block
            if icon && !label
                block
