extends ../../components/main-layout/main-layout.pug
include ../../ui-kit/header/header.pug
include ../../ui-kit/footer/footer.pug

block meta
    title Поиск комнаты
    meta(name="description", content="Demo page")
block scripts
    script(type="text/javascript", src="/libs/moment/moment.min.js")
    script(
        type="text/javascript",
        src="/libs/daterangepicker/daterangepicker.js"
    )
    script(type="text/javascript", src="/libs/mask/jquery.inputmask.js")
block styles
    link(
        rel="stylesheet",
        type="text/css",
        href="/libs/daterangepicker/daterangepicker.css"
    )

block navigation
    +header({})
block content
    .auth-page.auth-page--reg-variant.auth-page__row.auth-page--justify-center.auth-page--align-center
        .auth-page__column-auto
            .auth-page__card
                include ../../ui-kit/prebuild-cards/reg/reg.pug

block footer
    +footer({})
