mixin checkbox(props)
    - const { name, mainLabel, subLabel, checked } = props;

    label(class="ui-checkbox" + (subLabel ? " ui-checkbox--sublabled" : "")) #{mainLabel}
        input.ui-checkbox__input(type='checkbox', checked=checked, name=name)
        span.ui-checkbox__checkmark
        if (subLabel)
            .ui-checkbox__sublabel.ui-checkbox__sublabel--margin
                each val, index in subLabel
                    if (index === 0)
                        | !{val}
                    else
                        br 
                        | !{val}
