mixin increase-form-element(props)
    - const { title, value = 0, minValue = 0, maxValue = 1, step = 1 } = props;

    .increase-form-element.increase-form-element--align-center
        .increase-form-element__column
            .increase-form-element__title  #{title}
        .increase-form-element__colum-auto
            .increase-form-element__button-block.increase-form-element--align-center.increase-form-element--justify-between(
                data-min-value=minValue,
                data-max-value=maxValue,
                data-step=step
            )
                button.increase-form-element__button.js-increase-form-button(
                    data-button-type="dec",
                    disabled=!(Number(value) > Number(minValue)),
                    type="button"
                ) -
                .increase-form-element__value #{value}
                button.increase-form-element__button.js-increase-form-button(
                    data-button-type="inc",
                    disabled=!(Number(value) < Number(maxValue)),
                    type="button"
                ) +
