include ../buttons/like/like.pug

mixin review-card(props)
    - const { title, date, avatar = "m", description, likes, checked } = props;
        article.ui-review-card.ui-review-card__row
            section.ui-review-card__column100
                .ui-review-card__row
                    section.ui-review-card__element-container
                        .ui-review-card__icon-window
                            img(
                                src=`/avatars/${avatar}.png`,
                                alt='User avatar'
                            )

                    section.ui-review-card__column
                        .ui-review-card__title #{title}
                        .ui-review-card__description #{date}

            section.ui-review-card__column100.ui-review-card--margin-top
                .ui-review-card__row
                    section.ui-review-card__element-container
                        .ui-review-card__like-container
                            +like({value: likes, checked: checked})

                    section.ui-review-card__column #{description}
