extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

block meta
    title Карточки
block scripts
    script(
        type="text/javascript",
        src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    )
    script(
        type="text/javascript",
        src="/libs/daterangepicker/daterangepicker.js"
    )
    script(type="text/javascript", src="/libs/mask/jquery.inputmask.js")

block styles
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    )

block content
    .cards-page.cards-page__row.cards-page--padding.cards-page--justify-between
        .cards-page__column100.cards-page--width380
            .cards-page__column100
                include ../../ui-kit/prebuild-cards/find.pug
            .cards-page__column100.cards-page--margin-top

        .cards-page__column100.cards-page--width380
            .cards-page__column100

            .cards-page__column100.cards-page--margin-top
