extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

include ../../ui-kit/prebuild-cards/book/book.pug
include ../../ui-kit/prebuild-cards/room/room.pug

block meta
    title Карточки
    meta(name="description", content="Demo page")
block scripts
    script(
        type="text/javascript",
        src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    )
    script(
        type="text/javascript",
        src="/libs/daterangepicker/daterangepicker.js"
    )
    script(type="text/javascript", src="/libs/mask/jquery.inputmask.js")
    script(
        type="text/javascript",
        src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"
    )

block styles
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    )
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    )

block content
    .cards-page.cards-page__row.cards-page--padding.cards-page--justify-between
        .cards-page__column100.cards-page--width380
            .cards-page__column100
                include ../../ui-kit/prebuild-cards/find/find.pug
            .cards-page__column100.cards-page--margin-top
                include ../../ui-kit/prebuild-cards/reg/reg.pug
        .cards-page__column100.cards-page--width380
            .cards-page__column100
                +book({number: "888", type: "люкс", price: "9 990"})
            .cards-page__column100.cards-page--margin-top
                include ../../ui-kit/prebuild-cards/login/login.pug
        .cards-page__column100.cards-page--width320
            .cards-page__column100
                include ../../ui-kit/prebuild-cards/date-select.pug
            .cards-page__column100.cards-page--margin-top
                +room({number: "888", type: "люкс", price: "9 990", reviews: "145", checkedStars: 5, images: [{src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})
            .cards-page__column100.cards-page--margin-top
                +room({number: "840", price: "9 900", reviews: "65", checkedStars: 4, images: [{src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})
