extends ../../components/main-layout/main-layout.pug
include ../../ui-kit/header/header.pug
include ../../ui-kit/footer/footer.pug

block meta
    title Поиск комнаты
block scripts
    script(
        type="text/javascript",
        src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    )
    script(
        type="text/javascript",
        src="/libs/daterangepicker/daterangepicker.js"
    )
    script(type="text/javascript", src="/libs/mask/jquery.inputmask.js")
block styles
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    )

block navigation
    +header({})
block content
    .auth-page.auth-page--login-variant.auth-page__row.auth-page--justify-center.auth-page--align-center
        .auth-page__column-auto.auth-page__card
            include ../../ui-kit/prebuild-cards/login/login.pug

block footer
    +footer({})
