extends ../../components/main-layout/main-layout.pug
include ../../ui-kit/header/header.pug
include ../../ui-kit/footer/footer.pug
include ../../ui-kit/dropdown/dropdown.pug
include ../../ui-kit/increase-form/increase-form.pug
include ../../ui-kit/vertical-list/vertical-list.pug
include ../../ui-kit/range-slider/range-slider.pug
include ../../ui-kit/collapse/collapse.pug
include ../../ui-kit/paginator/paginator.pug
include ../../ui-kit/prebuild-cards/room/room.pug

block meta
    title Поиск комнаты
    meta(name="description", content="Demo page")
block scripts
    script(type="text/javascript", src="/libs/moment/moment.min.js")
    script(
        type="text/javascript",
        src="/libs/daterangepicker/daterangepicker.js"
    )
    script(type="text/javascript", src="/libs/mask/jquery.inputmask.js")
    script(
        type="text/javascript",
        src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"
    )
    script(type="text/javascript", src="/libs/collapse/jquery.collapsable.js")
    script(
        type="text/javascript",
        src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"
    )
block styles
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    )
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"
    )
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    )

block navigation
    +header({})
block content
    .search-page.search-page__row.search-page--justify-sm-center
        form.search-page--width266
            +dropdown({ placeholder:"ДД ММ - ДД ММ", value: "19 авг - 23 авг", labelLeft: "даты пребывания в отеле", type: "date-range"})
            .search-page--margin-top21
                +dropdown({ placeholder:"Сколько гостей", value: "3 гостя, 1 младенец", labelLeft: "гости", type: "text"})
                    +increase-form({type: "guests", variant: "md", hasSubmit: true, list: [{title: "взрослые", value: 2, minValue: 0, maxValue: 5, step: 1}, {title: "дети", value: 1, minValue: 0, maxValue: 5, step: 1}, {title: "младенцы", value: 1, minValue: 0, maxValue: 5, step: 1}]})
            .search-page--margin-top30
                +range-slider({labelLeft: "диапазон цены", labelRight: "5 000₽ - 10 000₽", variant: "lg"})
            .search-page--text-sm.search-page--margin-top10 Стоимость за сутки пребывания в номере
            .search-page--width222.search-page--margin-top30
                +vertical-list({labelLeft: "правила дома", labelVariant: "md", variant: "checkbox", list: [{mainLabel: "Можно курить"}, {mainLabel: "Можно с питомцами"}, {mainLabel: "Можно пригласить гостей (до 10 человек)"}]})

            .search-page--margin-top30
                +vertical-list({labelLeft: "доступность",labelVariant: "md", variant: "checkbox", list: [{mainLabel: "Широкий коридор", subLabel: ["Ширина коридоров в номере", "не менее 91 см."]}, {mainLabel: "Помощник для инвалидов", subLabel: ["На 1 этаже вас встретит специалист","и проводит до номера."]}]})
            .search-page--margin-top30
                +dropdown({ placeholder:"Сколько гостей", value: "2 спальни, 2 кровати, 2 ванные комнаты", labelLeft: "удобства номера", type: "text"})
                    +increase-form({type: "rooms", list: [{title: "спальни", value: 2, minValue: 0, maxValue: 5, step: 1}, {title: "кровати", value: 2, minValue: 0, maxValue: 5, step: 1}, {title: "ванные комнаты", value: 0, minValue: 0, maxValue: 5, step: 1}]})
            .search-page--margin-top15
                +collapse({label: "дополнительные удобства", expanded: true}) 
                    +vertical-list({labelVariant: "none", variant: "checkbox", list: [{mainLabel: "Завтрак"}, {checked:"checked", mainLabel: "Письменный стол"}, {checked:"checked", mainLabel: "Стул для кормления"}, {checked:"checked", mainLabel: "Кроватка"}, {mainLabel: "Телевизор"}, {mainLabel: "Шампунь"}]})
        .search-page__search-block.search-page__column.search-page__column100-sm.search-page--margin-top30-sm
            .search-page__row
                .search-page__column100.search-page__search-title
                    h1 Номера, которые мы для вас подобрали

                .search-page__column100
                    .search-page__row.search-page__search-cards.search-page--justify-md-center
                        .search-page__room-cell
                            +room({number: "888", type: "люкс", price: "9 990", reviews: "145", checkedStars: 5, images: [{src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})

                        .search-page__room-cell
                            +room({number: "840", price: "9 900", reviews: "65", checkedStars: 4, images: [{src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})

                        .search-page__room-cell
                            +room({number: "980", type: "люкс", price: "8 500", reviews: "35", checkedStars: 3, images: [{src: "/rooms/room3.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})

                        .search-page__room-cell
                            +room({number: "865", price: "7 300", reviews: "19", checkedStars: 5, images: [{src: "/rooms/room4.png", alt: "room1.png"}, {src: "/rooms/room4.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})

                        .search-page__room-cell
                            +room({number: "740", price: "6 000", reviews: "44", checkedStars: 4, images: [{src: "/rooms/room5.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})

                        .search-page__room-cell
                            +room({number: "982", price: "5 800", reviews: "56", checkedStars: 3, images: [{src: "/rooms/room6.png", alt: "room1.png"}, {src: "/rooms/room6.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})
                        .search-page__room-cell
                            +room({number: "678", price: "5 500", reviews: "45", checkedStars: 5, images: [{src: "/rooms/room7.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})

                        .search-page__room-cell
                            +room({number: "450", price: "5 300", reviews: "39", checkedStars: 4, images: [{src: "/rooms/room8.png", alt: "room1.png"}, {src: "/rooms/room8.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})

                        .search-page__room-cell
                            +room({number: "350", price: "5 000", reviews: "77", checkedStars: 3, images: [{src: "/rooms/room9.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})

                        .search-page__room-cell
                            +room({number: "666", price: "5 000", reviews: "25", checkedStars: 5, images: [{src: "/rooms/room10.png", alt: "room1.png"}, {src: "/rooms/room10.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})

                        .search-page__room-cell
                            +room({number: "444", price: "5 000", reviews: "15", checkedStars: 3, images: [{src: "/rooms/room11.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}]})

                        .search-page__room-cell
                            +room({number: "352", price: "5 000", reviews: "55", checkedStars: 3, images: [{src: "/rooms/room12.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}, {src: "/rooms/room2.png", alt: "room1.png"}, {src: "/rooms/room1.png", alt: "room1.png"}], noButtons: true})

                .search-page__column100.search-page--margin-top21.search-page__row.search-page--justify-center
                    .search-page__search-paginator
                        +paginator({label: "1 – 12 из 100+ вариантов аренды", pages: [{value: "1", active: true}, {value: "2"}, {value: "3"}, {value: "...", type: "dots"}, {value: "15"}, {type: "nav"}]})

block footer
    +footer({})
