extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

block meta
    title Элементы форм
block scripts
    script(
        type="text/javascript",
        src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    )
    script(
        type="text/javascript",
        src="/libs/daterangepicker/daterangepicker.js"
    )
    script(type="text/javascript", src="/libs/mask/jquery.inputmask.js")
    script(
        type="text/javascript",
        src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"
    )
    script(type="text/javascript", src="/libs/collapse/jquery.collapsable.js")

block styles
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    )
    link(
        rel="stylesheet",
        type="text/css",
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"
    )

block content
    .form-page-layout.form-page-layout--padding
        .form-page-layout__column 
            include form-elements-page-block/form-page-top-block/form-page-top-block.pug
        .form-page-layout__column.form-page-layout__column--margin-top 
            include form-elements-page-block/form-page-middle-block/form-page-middle-block.pug
        .form-page-layout__column.form-page-layout__column--margin-top-sm
            include form-elements-page-block/form-page-bottom-block/form-page-bottom-block.pug
        .form-page-layout__column.form-page-layout__column--margin-top 
            include form-elements-page-block/form-page-footer-block/form-page-footer-block.pug
