mixin input(placeholder='', labelLeft='', labelRight='', value='',mask='', forceHover=false)
    include ../with-label/with-label.pug

    +with-label(labelLeft, labelRight)
        input(
            class='ui-text-input' + (forceHover === true ? ' ui-text-input--force-hover' : ''),
            type="text",
            placeholder=placeholder,
            value=value,
            data-masktype=mask,
            focus
        )
